/* Coolors Exported Palette - coolors.co/93a3b1-7c898b-636564-4c443c-322214 */

/* HSL */
$color1: hsla(208%, 16%, 64%, 1);
$color2: hsla(188%, 6%, 52%, 1);
$color3: hsla(150%, 1%, 39%, 1);
$color4: hsla(30%, 12%, 27%, 1);
$color5: hsla(28%, 43%, 14%, 1);

/* RGB */
$color1: rgba(147, 163, 177, 1);
$color2: rgba(124, 137, 139, 1);
$color3: rgba(99, 101, 100, 1);
$color4: rgba(76, 68, 60, 1);
$color5: rgba(50, 34, 20, 1);