/* Coolors Exported Palette - coolors.co/0d0800-313744-d7d8da-afb6be-f4f4fc */

/* HSL */
$color1: hsla(37%, 100%, 3%, 1);
$color2: hsla(221%, 16%, 23%, 1);
$color3: hsla(220%, 4%, 85%, 1);
$color4: hsla(212%, 10%, 72%, 1);
$color5: hsla(240%, 57%, 97%, 1);

/* RGB */
$color1: rgba(13, 8, 0, 1);
$color2: rgba(49, 55, 68, 1);
$color3: rgba(215, 216, 218, 1);
$color4: rgba(175, 182, 190, 1);
$color5: rgba(244, 244, 252, 1);