/* Coolors Exported Palette - coolors.co/222222-444444-888888-f7f7f7-ffffff */

/* HSL */
$color1: hsla(0%, 0%, 13%, 1);
$color2: hsla(0%, 0%, 27%, 1);
$color3: hsla(0%, 0%, 53%, 1);
$color4: hsla(0%, 0%, 97%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(34, 34, 34, 1);
$color2: rgba(68, 68, 68, 1);
$color3: rgba(136, 136, 136, 1);
$color4: rgba(247, 247, 247, 1);
$color5: rgba(255, 255, 255, 1);