/* Coolors Exported Palette - coolors.co/2d2a32-f49e4c-4f6d7a-83a0a0-eaeaea */

/* HSL */
$color1: hsla(263%, 9%, 18%, 1);
$color2: hsla(29%, 88%, 63%, 1);
$color3: hsla(198%, 21%, 39%, 1);
$color4: hsla(180%, 13%, 57%, 1);
$color5: hsla(0%, 0%, 92%, 1);

/* RGB */
$color1: rgba(45, 42, 50, 1);
$color2: rgba(244, 158, 76, 1);
$color3: rgba(79, 109, 122, 1);
$color4: rgba(131, 160, 160, 1);
$color5: rgba(234, 234, 234, 1);