/* Coolors Exported Palette - coolors.co/dd6e42-e8dab2-4f6d7a-c0d6df-eaeaea */

/* HSL */
$color1: hsla(17%, 70%, 56%, 1);
$color2: hsla(44%, 54%, 80%, 1);
$color3: hsla(198%, 21%, 39%, 1);
$color4: hsla(197%, 33%, 81%, 1);
$color5: hsla(0%, 0%, 92%, 1);

/* RGB */
$color1: rgba(221, 110, 66, 1);
$color2: rgba(232, 218, 178, 1);
$color3: rgba(79, 109, 122, 1);
$color4: rgba(192, 214, 223, 1);
$color5: rgba(234, 234, 234, 1);